# 编译产物，禁止上传
dist/
build/
vllm.egg-info/
__pycache__/
*.o
*.so
*.pyd
# 日志、权重、缓存
*.log
*.bin
*.safetensors
# IDE、容器缓存
.vscode/
.dockerignore

# CMake incremental build
cmake-build-rocm/
.deps/
triton_cache/
vllm_cache/
